# version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "6000:6000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

